# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
doc_build/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.cache
docs/books/程序员职业小白书 —— 如何规划和经营你的职业
docs/books/初探前端工程化
docs/books/从 0 打造通用型低代码产品
docs/books/从 0 到 1 落地前端工程化
docs/books/从前端到 AI：LangChain.js 入门和实战_online
docs/books/从前端到全栈
docs/books/代码案例掌握 NodeJS 核心基础知识
docs/books/基于 Vite 的组件库工程化实战
docs/books/技术写作指南
docs/books/开发者必备的 Docker 实践指南
docs/books/剖析 Vue.js 内部运行机制
docs/books/前端调试通关秘籍
docs/books/前端工程师进阶 10 日谈
docs/books/前端缓存技术与方案解析
docs/books/前端面试之道
docs/books/前端算法与数据结构面试：底层逻辑解读与大厂真题训练
docs/books/前端性能优化原理与实践
docs/books/前端依赖治理：代码分析工具开发实战
docs/books/前端自动化测试精讲
docs/books/人人都能看懂的 ChatGPT 原理课
docs/books/如何使用 Canvas 制作出炫酷的网页背景特效
docs/books/深入浅出 Vite
docs/books/深入浅出微前端
docs/books/使用 webpack 定制前端开发环境
docs/books/玩转 React Hooks
docs/books/微信小程序开发入门：从 0 到 1 实现天气小程序
docs/books/Electron + React 从 0 到 1 实现简历平台实战
docs/books/Electron + Vue 3 桌面应用开发
docs/books/Electron 应用开发实践指南
docs/books/JavaScript 函数式编程实践指南
docs/books/JavaScript 设计模式核心原理与应用实践
docs/books/JavaScript 语言编程进阶
docs/books/Nest 通关秘籍  最新200章
docs/books/Next.js 开发指南